.enroll {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
    /* font-size: 18px; */
    justify-content: space-evenly;
    align-items: center;
  width: 100%;
    position: relative;
    text-transform: uppercase;
    background: #f4f9ff;
    text-align: center;
   top: 14px;
   align-self: center;
   margin: auto;

}
.enroll h1{
   
    font-size: 30px;
    position: relative;
    left: 0px;
    text-align: center;
    font-weight: lighter;
}

.enroll h3{
  font-size: 15px;
}
.enroll p{
    color: #fff;
    font-size: 1rem;
   
}



.enroll div{
  width: 50%;
}

.enroll img{
  width: 40%;
}

.list{

}

ol{
list-style-type:circle;

}

li::marker{
  background-color: rgb(235, 164, 0);
  color:rgb(235, 164, 0);
  border: 2px solid black;
  border-radius: 50%;
  padding: 2px;
  border-color:rgb(235, 164, 0);
  border-width: 20px;
  height: 100px;
  
}

.enroll a{
  padding: 12px 15px;
  display: block;
  width: 300px;
  background:#fff;
  border-radius: 40px;
  /* margin: 20px 0px; */
  text-decoration: none;
  color:#000;
  margin: auto;
  font-weight: 500;
}


@media (max-width:800px) {
  .enroll {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
      /* font-size: 18px; */
      justify-content: space-evenly;
      align-items: center;
    width: 100%;
      position: relative;
      text-transform: uppercase;
      background: #f4f9ff;
      text-align: center;
     top: 55px;
     padding-bottom: 100px;
     align-self: center;
     margin: auto;
  flex-direction: column-reverse;
  }

  .enroll div{
    width: 100%;
  }

  .enroll h1{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    position: relative;
    left: 0px;
    text-align: center;
    font-weight: 700;
}
.enroll h2{
  font-weight: 900;
  font-size: 25px;
}


.enroll a{
  padding: 8px 10px;
  display: block;
  width: 75%;
  background: #fff;
  border-radius: 40px;
  /* margin: 20px 0px; */
  text-decoration: none;
  color:#000;
  margin: auto;
  text-align: center;
  font-size: 15px;
}

}