main{

    box-shadow: 0 9px 68px 0 rgb(62 57 107 / 20%);
    border-radius: 10px;
    height: 100vh;
    width: 83%;
    margin: auto;
     position: relative;
     
     background-color:#fff;
    position: relative;
    overflow: hidden;

    /* top: 1px; */
}





.mainclass{
    position: relative;
    width: 100%;
    background-color:#f4f9ff;
    top: 250px;
}

.brodcast-image{
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    }
    .brodcast-image div{
        width: 48%;
    }
    .brodcast-image img{
        height:auto;
        width: 80%;
    }
    /* {
        
        padding: 15px;
        display: block;
        width: 200px;
        background: rgb(235, 164, 0);
        border-radius: 40px;
       
        text-decoration: none;
        color:#fff;
        text-align: center;
        
       font-weight: bolder;
       position: relative;
       top: 2px;
   top: 20px;
   left: 20px;
}
     */
    .brodcast-image  a{
        
        padding: 15px;
        display: block;
        width: 180px;
        background: #fff;
        border-radius: 40px;
        /* margin: 20px 0px; */
        text-decoration: none;
        color:#000;
        text-align: center;
        /* margin: auto; */
       font-weight: bolder;
       position: relative;
       box-shadow: 0 3px 15px rgb(0 0 0 / 10%);
       /* top: 2px; */
    /* top: 20px;
    left: 20px; */
    }
    
    .brodcast-image h3{
        padding-left: 40px;
    }
    
    .brodcast-image h3::before{
        content: '';
        background: #142c8e;
        background-image: initial;
        background-position-x: initial;
        background-position-y: initial;
        background-size: initial;
        background-repeat-x: initial;
        background-repeat-y: initial;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: #142c8e;
        position: absolute;
        top: 50%;
        left: 0;
        width: 30px;
        height: 2px;
    }
    
    main  h3{
        font-size: 1.5rem;
        color: #142c8e;
        padding-left: 40px;
        font-size: 18px;
        position: relative;
        font-weight: 500;
        text-align: center;
        top: 8px;
    }
    
    h3{
        font-size: 1.5rem;
        color: #142c8e;
        padding-left: 40px;
        font-size: 18px;
        position: relative;
        font-weight: 500;
       top: 10px;
    }
    
    main h1{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
        font-size: xx-large;
        position: relative;
        left: 40px;
        text-align: center;
    }
    
    .divcontainer{
        display: flex;
    flex-wrap: wrap;
     justify-content:space-around; 
     align-items: center;
    
    }
    
    .divcontainer div{
        
        box-shadow: 0 9px 68px 0 rgb(62 57 107 / 20%);
      
        position: relative;
        margin: 12px;
    height: 260px;
    width: 350px;
    
    text-align: center;
    overflow: hidden;
    }
    
    .divcontainer > ::before{
       content: '';
    border-left: 80px solid transparent;
    border-left-width: 80px;
    border-left-style: solid;
    border-left-color: transparent;
    border-bottom: 80px solid #142c8e ;
    position: absolute;
    right: 0px;
    bottom: 0px;
    
    }
    
    
    .divcontainer div h1{
        color: #142c8e;
        text-align: center;
    }
    .divcontainer div p{
        color: rgb(26, 25, 25);
        font-size: xx-large;
        position: relative;
        bottom: 3px;
    }
    
    .divcontainer img{
        width: 45px;
    }
    
    
    @media (max-width:550px) {
        .divcontainer{
            display: flex;
        flex-wrap: wrap;
         justify-content:center; 
         align-items: center;
       
        }
        
        
        main{
    
            box-shadow: 0 9px 68px 0 rgb(62 57 107 / 20%);
            border-radius: 10px;
            height: auto;
            width: 100%;
            margin: auto;
             position: relative;
             bottom: 160px;
             background-color:#fff;
            position: relative;
            overflow: hidden;
           
        }
    
        .divcontainer div{
        
            box-shadow: 0 9px 68px 0 rgb(62 57 107 / 20%);
          
            position: relative;
            margin: 12px;
        height: auto;
        width: 96%;
        
        text-align: center;
        overflow: hidden;
        padding: 20px;
        }
        
    
        main  h3{
            /* font-size: 1.5rem;
            color: rgb(235, 164, 0);
          padding: auto;
            font-size: 18px;
            
            
            text-align: center;
            top: 25px; */
            text-align: center;
            font-weight: 500;
            position: relative;
        padding-left: 0px;
        }
        
        h3{
            font-size: 1.5rem;
            color: #142c8e;
            padding-left: 0px;
            font-size: 18px;
            position: relative;
            font-weight: 500;
           top: 10px;
        }
        
        main h1{
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            
            font-size: 22px;
            position: relative;
            left: 0px;
            text-align: center;
            font-weight: 900;
        }
    
        .divcontainer img{
            width: 70px;
        }
    
        .divcontainer div p{
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: rgb(26, 25, 25);
            font-size:20px;
            position: relative;
            bottom: 3px;

        }
    
        .brodcast-image{
            background-color: #fff;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            position: relative;
            bottom: 100px;
            }
            .brodcast-image div{
                width: 100%;
            }
    
            .brodcast-image img{
                height:auto;
                width: 100%;
            }
            .brodcast-image h1{
                padding-left: 12px;
                font-size: 28px;
                font-weight: 550;
                position: relative;
                top: 8px;
            }
        .brodcast-image p{
            padding: 12px;
            font-size: 17px;
            position: relative;
            top: 9px;
            font-weight: 300;
            color:rgb(82 82 82)
        }
        .brodcast-image a{
            padding: 6px 9px;
            width: 80%;
            font-weight:lighter;
            position: relative;
            top: 10px;
        }
    }



















@media (min-width:550px) {
    .divcontainer{
        display: flex;
    flex-wrap: wrap;
     justify-content:center; 
     align-items: center;
    
    }
    
    
    main{

        box-shadow: 0 9px 68px 0 rgb(62 57 107 / 20%);
        border-radius: 10px;
        height: auto;
        width: 100%;
        margin: auto;
         position: relative;
         bottom: 160px;
         background-color:#fff;
        position: relative;
        overflow: hidden;
       
    }

    .divcontainer div{
    
        box-shadow: 0 9px 68px 0 rgb(62 57 107 / 20%);
      
        position: relative;
        margin: 12px;
    height: auto;
    width: 60%;
    
    text-align: center;
    overflow: hidden;
    }
    

    main  h3{
        /* font-size: 1.5rem;
        color: rgb(235, 164, 0);
      padding: auto;
        font-size: 18px;
        
        
        text-align: center;
        top: 25px; */
        text-align: center;
        font-weight: 500;
        position: relative;
    padding-left: 0px;
    }
    
    h3{
        font-size: 1.5rem;
        color: rgb(235, 164, 0);
        padding-left: 0px;
        font-size: 18px;
        position: relative;
        font-weight: 500;
       top: 10px;
    }
    
    main h1{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
        font-size: 22px;
        position: relative;
        left: 0px;
        text-align: center;
        font-weight: 900;
    }

    .divcontainer img{
        width: 70px;
    }

    .divcontainer div p{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(26, 25, 25);
        font-size:23px;
        position: relative;
        bottom: 3px;
        padding: 5px;
    }



    .brodcast-image{
        background-color: #fff;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        bottom: 100px;
        }
        .brodcast-image div{
            width: 100%;
        }

        .brodcast-image img{
            height:auto;
            width: 100%;
        }
        .brodcast-image h1{
            padding-left: 10px;
            font-size: 30px;
            font-weight: 600;
            position: relative;
         top: 12px;
        }
    .brodcast-image p{
        padding-left: 12px;
        top: 12px;
    }
    .brodcast-image a{
        padding: 8px 11px;
        width: 200px;
        font-weight: lighter;
    }
    
}





@media (min-width:800px) {
    .divcontainer{
        display: flex;
    flex-wrap: wrap;
     justify-content:center; 
     align-items: center;
    
    }
    
    
    main{

        box-shadow: 0 9px 68px 0 rgb(62 57 107 / 20%);
        border-radius: 10px;
        height: auto;
        width: 100%;
        margin: auto;
         position: relative;
         bottom: 160px;
         background-color:#fff;
        position: relative;
        overflow: hidden;
       
    }

    .divcontainer div{
    
        box-shadow: 0 9px 68px 0 rgb(62 57 107 / 20%);
      
        position: relative;
        margin: 12px;
    width: 45%;
    height: 250px;
    
    text-align: center;
    overflow: hidden;
    }
    

    main  h3{
        /* font-size: 1.5rem;
        color: rgb(235, 164, 0);
      padding: auto;
        font-size: 18px;
        
        
        text-align: center;
        top: 25px; */
        text-align: center;
        font-weight: 500;
        position: relative;
    padding-left: 0px;
    }
    
    h3{
        font-size: 1.5rem;
        color: rgb(235, 164, 0);
        padding-left: 0px;
        font-size: 18px;
        position: relative;
        font-weight: 500;
       top: 10px;
    }
    
    main h1{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
        font-size: 22px;
        position: relative;
        left: 0px;
        text-align: center;
        font-weight: 900;
    }

    .divcontainer img{
        width: 70px;
    }

    .divcontainer div p{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: rgb(26, 25, 25);
        font-size:23px;
        position: relative;
        bottom: 3px;
    }


    
.brodcast-image{
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    }
    .brodcast-image div{
        width: 48%;
    }
    .brodcast-image img{
        height:auto;
        width: 60%;
    }
    .brodcast-image a{
        
            padding: 10px 12px;
            display: block;
            width: 230px;
            background: #fff;
            border-radius: 40px;
            /* margin: 20px 0px; */
            text-decoration: none;
            color:#000;
            text-align: center;
            /* margin: auto; */
           font-weight: bolder;
           position: relative;
           top: 2px;
       /* top: 20px;
       left: 20px; */
    }
    
    .brodcast-image p{
        position: relative;
        top: 12px;
    }
    
}



/* brodcast-image img */




@media (min-width:1000px) {
    .divcontainer{
        display: flex;
    flex-wrap: wrap;
     justify-content:center; 
     align-items: center;
    
    }
    
    
    main{

        box-shadow: 0 9px 68px 0 rgb(62 57 107 / 20%);
        border-radius: 10px;
        height: auto;
        width: 95%;
        margin: auto;
         position: relative;
         bottom: 160px;
         background-color:#fff;
        position: relative;
        overflow: hidden;
       
    }

    .divcontainer div{
    
        box-shadow: 0 9px 68px 0 rgb(62 57 107 / 20%);
      
        position: relative;
        margin: 12px;
    height: 270px;
    width: 31%;
    
    text-align: center;
    overflow: hidden;
    }
    

    main  h3{
        /* font-size: 1.5rem;
        color: rgb(235, 164, 0);
      padding: auto;
        font-size: 18px;
        
        
        text-align: center;
        top: 25px; */
        text-align: center;
        font-weight: 500;
        position: relative;
    padding-left: 0px;
    }
    
    h3{
        font-size: 1.5rem;
        color: rgb(235, 164, 0);
        padding-left: 0px;
        font-size: 18px;
        position: relative;
        font-weight: 500;
       top: 10px;
    }
    
    main h1{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
        font-size: 22px;
        position: relative;
        left: 0px;
        text-align: center;
        font-weight: 900;
    }

    .divcontainer img{
        width: 70px;
    }

    .divcontainer div p{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(26, 25, 25);
        font-size:20px;
        position: relative;
        bottom: 3px;
    }
    
}

