@keyframes showView{
    from{


 opacity: 0;     
    }
    to{

        opacity: 1;
    }
}


main .modal{
 animation-name: showView;
 animation-duration: 1s;
 animation-iteration-count: 1;
 animation-direction: forwards;
position: fixed;
width: 500px;
height: 300px;
padding: 10px;
border: 1px solid #fff;
background-color: #fff;
top: 50%;
left: 50%;
margin-top: -100px;
margin-left: -250px;
z-index: 2;
display: none;
    }


    .modal h1{
        font-size: 23px;
        text-align: center;
        color: #142c8e;
        padding: 5px;
    }
  
  .modal >input{
      width: 80%;
      
    padding: 8px 5px;
        border: 2px
     solid red;
        width: 96%;
        border-radius: 10px
    ;
        position: relative;
        left: 0%;
        font-size: 14px;
        text-align: center;
    
  }
    .modal  .btnprimary{
        position: relative;
        color: #fff;
        background-color: #142c8e;
        border: 1px solid #142c8e;
        padding: 6px 12px;
       
        border-radius: 10px;
        text-align: center;
        top: 20px;
       width: auto;
        
    }
    .btnprimary:hover{
        background-color:#142c8e;
        cursor: pointer;
        transform: scale(1.01);
    }

    @media (max-width:550px) {
        
        .modal .btnprimary{
            width: 100%;
        }


        main .modal{
            animation-name: showView;
            animation-duration: 1s;
            animation-iteration-count: 1;
            animation-direction: forwards;
           position: fixed;
           width: 80%;
           height: auto;
           padding: 10px;
           border: 1px solid #fff;
           background-color: #fff;
           top: 20%;
           left: 50%;
           margin-top: -5px;
           margin-left: -40%;
           /* margin-top: -100px;
           margin-left: -250px; */
           z-index: 2;
           /* overflow-y: scroll; */
           /* display: none; */
               }
           


    }

    /* @media (max-width:550px) {

        .modal{
         
        
        position: fixed;
        width: 80%;
        height: auto;
        padding: 10px;
        border: 1px solid #fff;
        background-color: #f4f9ff;
        top: 30%;
        left: 50%;
        margin-top: -100px;
        margin-left: -40%;
        z-index: 2;
        border-radius: 10px;

            }  
            .modal h1{
                font-size: 20px;
                text-align: center;
                color: rgb(235, 164, 0);
                padding: 4px;
            }
          
            .modal .button{
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                
            }
            button{
                color: #fff;
                background-color: rgb(235, 164, 0);
                border: 1px solid rgb(235, 164, 0);
                padding: 6px 20px;
                margin: 10px;
                border-radius: 10px;
            }
            button:hover{
                background-color: rgb(179, 129, 14);
                cursor: pointer;
            }

    } */