@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}


    @keyframes movenavclose{
       
        from{
left: 100%;
opacity: 0.2;

        }
        to{
right: 0px;
opacity: 1;
top: 0;
left: 0;
right: 0;
bottom: 0;
/* z-index: 2; */
        }
    }

    @keyframes movenavopen{
       
        from{
left: 100%;
opacity: 0.2;
        }
        to{
right: 0px;
opacity: 1;
        }
    }

    .navopen{
        animation-name: movenavopen;
        animation-duration: 0.7s;
        animation-fill-mode: forwards;
        position: relative;
        background-color: #fff;
        box-shadow: 0 3px 15px rgb(0 0 0 / 10%);
        top: 0;
        left: 0;
       right: 0;
       bottom: 0;
       z-index: 2;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
       overflow-y: scroll;
       overflow-x: hidden;
       height: 100%;
    } 
   .navopen div{
        margin: 10px;
    }

   
   
    
   
    .navopen a{
        /* text-decoration: none;
      color:  rgb(235, 164, 0);
      font-weight: 700;
      padding: 12px;
      border-radius: 40px; */

      padding: 8px 15px;
        display: block;
        width: 100%;
        background: #fff;
        border-radius: 40px;
        
        text-decoration: none;
        color:#000;
        text-align: center;
        margin: auto;
        box-shadow: 0 3px 15px rgb(0 0 0 / 10%);
           position: relative;
     top: 33px;
    }

 .login a{
       color: #fff;
        background-color:#3155e7;
        padding: 8px 35px;

    }
    
    /* .register a  ,.login a{
        padding: 12px;
        background-color: rgb(235, 164, 0);
        border-radius: 40px;
        text-decoration: none;
        color:#fff;
       text-align: center;
       

    } */



    .navclose{
        animation-name: movenavclose;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;

        background-color: #fff;
        box-shadow: 0 3px 15px rgb(0 0 0 / 10%);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;

       position: relative; 
        width: 100%;
        display: flex;
        /* flex-direction: column; */
        justify-content: space-between;
        align-items: center;
       overflow-y: hidden;
       overflow-x: hidden;
       height: 60px;
       /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */

    }

    .navclose div{
        display: none;
    }

   
    .navclose >img{
        width: 85%;
       height: 60px;
      float: left;
    }
   
    .navopen>.logo,.navclose >.logo{
    width: 90%;
    height: 60px;
   float: left;
}

   .navclose > .harmburger{
width: 60px;
    }

.navopen > .harmburger{
display: none;
height: 0px;
        } 

       .navclose .harmburgericon{
           display: none;
       }

       .navopen .harmburgericon{
        display: block;
        display: flex;
       position: relative;
        
       left: 25%;
    }
    .navopen .harmburgericon >img{
        width: 20px;
        height: 20px;
        
    }

        @media (max-width:400px) {
            .navopen>.logo,.navclose >.logo{
                width: 82%;
                height: 60px;
               float: left;
            }
            .navclose > .harmburger{
                width: 15%;
                    }
                 
        }
   





    @media (min-width:1000px) {
        .harmburger{
            display: none;
        }



    @keyframes movenavbig{
       
        from{
            opacity: 0.5;
left: 100%;
        }
        to{
right: 0px;
opacity: 1;
        }
    }

    .navopen,.navclose{
            animation-name: movenavbig;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            /* animation-iteration-count: ; */
    
            background-color: #fff;
            box-shadow: 0 3px 15px rgb(0 0 0 / 10%);
            top: 0;
            left: 0;
            position: relative; 
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            /* align-items: flex-start; */
            text-align: center;
           overflow-y: hidden;
           overflow-x: hidden;
           height: 80px;
         font-family: "Poppins" ,

        }
        .navopen img, .navclose img{
            height: 80px;
         
          
            
        }

       


        .close{
/*      
            width: 30px;
            height: 2px;
            top: 5%;
           right: 0;
           position: absolute;
           margin: 12px;  */
           display: none;
           width:0px;
            
        }

        .navopen div,.navclose div{
            display: block;
            text-decoration: none;
          color:  rgb(235, 164, 0);
          font-weight: 600;
          font-size: 18px;
          position: relative;
          top: 10px;
          width:auto;
        }
    

        .navclose a,.navopen a{
            background: #fff;
            color: #000;
            text-decoration: none;
            font-size: 16px;
        }

       .login a{
            color: #fff;
             background-color: #3155e7;
         
             padding: 8px 15px;
             display: block;
             /* width: 100%; */
             border-radius: 40px;
             
             
             box-shadow: 0 3px 15px rgb(0 0 0 / 10%);
                position: relative;
     
         }

        /* .register> a ,.login >a{
            padding: 10px;
            width: 300px;
            background: #fff;
            border-radius: 40px;
            text-decoration: none;
            color:#000;
           text-align: center;
    
        } */
        /* .register a:hover,.login a:hover{
            background: #333;
        } */
        .login{
            position: relative;
            right: 14px;
        }

        .navopen>.logo,.navclose >.logo{
            width: 20%;
            height: 58px;
            position: relative;
            left: 12px;
            /* top: 12px; */
           /* float: left; */
        }
        

        .navclose a:hover,.navopen a:hover{
            padding: 8px 15px;
            display: block;
            width: 100%;
            background: #fff;
            border-radius: 40px;
            
            text-decoration: none;
            color:#000;
            text-align: center;
            margin: auto;
            box-shadow: 0 3px 15px rgb(0 0 0 / 10%);
               position: relative;
        
        }


        
    }

    a:hover{
        color: rgb(37, 6, 6);
        position: relative;
        left: 1px;
        
    }

    /*  list-style */