
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

main{

    box-shadow: 0 9px 68px 0 rgb(62 57 107 / 20%);
    border-radius: 10px;
    width: 97%;
    margin: auto;
     position: relative;
  top: 5vh;
     background-color:#fff;
    position: relative;
    overflow: hidden;
}
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 29px;
    position: relative;
    left: 0px;
    text-align: center;
   
    color: rgb(24, 23, 23);
    font-weight: 100;
}


  /* h2 */
main a{
        
    padding: 15px;
    display: block;
    width: 180px;
    background: rgb(235, 164, 0);
    border-radius: 40px;
    text-decoration: none;
    color:#fff;
    text-align: center;
   font-weight: bolder;
   position: relative;
 
}

main h3{
  position: absolute; 
  bottom: 80%;
  left: 70%;
  font-style: oblique;
  background-color: rgb(235, 164, 0);
  color: #fff;
  padding: 3px;
}





main h1{
    
    
    /* font-size: xx-large; */
    position: relative;
    right: 40px;
    text-align: center;
} 

main>h1 {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size:1px;
}


 
 
.divcontainer{
    display: flex;
flex-wrap: wrap;
 justify-content:space-around; 
 align-items: center;

}


.divcontainer div h1{
    color: rgb(235, 164, 0);
    text-align: center;
}


main >h2{
    text-align: center;
    position: relative;
    bottom: 12px;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: rgb(235, 164, 0);
}



@media (max-width:500px) {
    main{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
        box-shadow: 0 9px 68px 0 rgb(62 57 107 / 20%);
        border-radius: 10px;
        width: 100%;
        margin: auto;
         position: relative;
      top: 3vh;
         
        position: relative;
        overflow: hidden;
    }

    main a{
        
        padding: 15px;
        display: block;
        width:70%;
        background: rgb(235, 164, 0);
        border-radius: 40px;
        text-decoration: none;
        color:#fff;
        text-align: center;
       font-weight: bolder;
       position: relative;
     
    }
    
main h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    position: relative;
    left: 0px;
    text-align: center;

    color: rgb(24, 23, 23);
    font-weight: 100;
    
} 


.divcontainer div{
    
    box-shadow: 0 9px 68px 0 rgb(62 57 107 / 20%);
  
    position: relative;
    margin-bottom: 12px;

width: 100%;
height: auto;
text-align: center;
overflow: hidden; 
border-radius: 10px;
border:1px solid #f4f9ff;
}


.divcontainer > ::before{
    content: '';
 border-left: 80px solid transparent;
 border-left-width: 80px;
 border-left-style: solid;
 border-left-color: transparent;
 border-bottom: 80px solid rgb(235, 164, 0) ;
 position: absolute;
 right: 0px;
 bottom: 0px;
 
 }

ol li{
    font-size: 19px;
 
}

main h3{
    position: absolute; 
    bottom: 93%;
    left: 50%;
    font-style: oblique;
    background-color: rgb(235, 164, 0);
    color: #fff;
    padding: 2px;
    font-size: 13px;
    width: 60%;
  }
  .divcontainer h1{
      position: relative;
      right: 10%;
  top: 20px;
  }

}














@media (min-width:500px) {
    main{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
        box-shadow: 0 9px 68px 0 rgb(62 57 107 / 20%);
        border-radius: 10px;
        width: 95%;
        margin: auto;
         position: relative;
      top: 3vh;
         
        position: relative;
        overflow: hidden;
    }

    main a{
        
        padding: 15px;
        display: block;
        width:70%;
        background: rgb(235, 164, 0);
        border-radius: 40px;
        text-decoration: none;
        color:#fff;
        text-align: center;
       font-weight: bolder;
       position: relative;
     
    }
    
main h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 29px;
    position: relative;
    left: 0px;
    text-align: center;

    color: rgb(24, 23, 23);
    font-weight: 100;
} 


.divcontainer div{
    
    box-shadow: 0 9px 68px 0 rgb(62 57 107 / 20%);
  
    position: relative;
    margin: 12px;

width: 95%;
height: auto;
text-align: center;
overflow: hidden; 
border-radius: 10px;
border:1px solid #f4f9ff;
}
ol li{
    font-size: 19px;
}

main h3{
    position: absolute; 
    bottom: 92%;
    left: 50%;
    font-style: oblique;
    background-color: rgb(235, 164, 0);
    color: #fff;
    padding: 2px;
    font-size: 13px;
    width: 60%;
  }
  .divcontainer h1{
      position: relative;
      right: 10%;
  top: 20px;
  }
  
.divcontainer > ::before{
    content: '';
 border-left: 80px solid transparent;
 border-left-width: 80px;
 border-left-style: solid;
 border-left-color: transparent;
 border-bottom: 80px solid rgb(235, 164, 0) ;
 position: absolute;
 right: 0px;
 bottom: 0px;
 
 }

}

@media (min-width:800px) {
    
.divcontainer div{
    
    box-shadow: 0 9px 68px 0 rgb(62 57 107 / 20%);
  
    position: relative;
    margin: 12px;

width: 400px;
height: auto;
text-align: center;
overflow: hidden;
}

.divcontainer > ::before{
    content: '';
 border-left: 80px solid transparent;
 border-left-width: 80px;
 border-left-style: solid;
 border-left-color: transparent;
 border-bottom: 80px solid rgb(235, 164, 0) ;
 position: absolute;
 right: 0px;
 bottom: 0px;
 
 }
 .button{
     display: flex;
     justify-content: space-between;
     float: right;
 }

 main a{
        
    padding: 15px;
    display: block;
    width:200px;
    background: rgb(235, 164, 0);
    border-radius: 40px;
    text-decoration: none;
    color:#fff;
    text-align: center;
   font-weight: bolder;
   position: relative;

}

}

