

.mySlides>img{
    max-width: 150px;
   width: 200px;
height: auto;
border-radius: 50%;
}
.mySlides{
    width: 400px;
    margin: auto;
    height: 400px;
}
.pointer{
    width: 75px;
    height: 60px;
    background-color: rgb(50, 24, 88);
    margin: auto;
    /* border-radius: 50px 30px 70px 10px;  */
     /* border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px; */
    border-radius: 50px 30px 70px 1px;
   
}
.pointer::before{
    content: '';
    border-left: 80px solid transparent;
    border-left-width: 80px;
    border-left-style: solid;
    border-left-color: transparent;
    border-bottom: 80px solid rgb(235, 164, 0) ;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

@media (max-width:600px) {
    .mySlides>img{
        max-width: 150px;
       width: 50%;
    height: auto;
    border-radius: 50%;
    }
    .mySlides{
        width: 90%;
        margin: auto;
    }

}