.africatalent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.africatalent >div img{
    width: 350px;
    border-radius: 10px;
}





@media (max-width:650px) {
    .africatalent{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
}


    .africatalent >div{
        width: 95%;
        position: relative;
        
       
        background-color: #fff;
        box-shadow: 0 3px 15px rgb(0 0 0 / 10%);
      
      margin-top: 20px;
     
    }

    .africatalent >div .entail{
        padding: 10px;
    }
    .africatalent>div p{
        
        position: relative;
        font-size: 16px;
       color: rgb(82 82 82);
        /* left: 2px; */
    }
    .africatalent>div h2{
        font-size: 18px;
    }
    .africatalent >div img{
        width: 100%;
        border-radius: 2px;
        margin: auto;
        padding: 0px;
    }
}



@media (min-width:650px) {
    .africatalent{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .africatalent >div{
        width: 350px;

        background-color: #fff;
        box-shadow: 0 3px 15px rgb(0 0 0 / 10%);
        padding: 10px;
       margin-top: 20px;
    }
    
    .africatalent >div img{
        width: 330px;
        border-radius: 10px;
        margin: auto;
        
        margin: auto;
        position: relative;
       float: calc(1,1,1);
    }
     
}

@media (min-width:920px) {
    .africatalent{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .africatalent >div{
        width: 450px;

        background-color: #fff;
        box-shadow: 0 3px 15px rgb(0 0 0 / 10%);
        padding: 10px;
       margin-top: 20px;
    }
    
    .africatalent >div img{
        width: 430px;
        border-radius: 10px;
        margin: auto;
        
        margin: auto;
        position: relative;
       float: calc(1,1,1);
    }
     
}


