
  main{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    box-shadow: 0 9px 68px 0 rgb(62 57 107 / 20%);
    border-radius: 10px;
    margin: auto;
     position: relative;
  /* top: 5vh; */
     background-color:#fff;
    position: relative;
    overflow: hidden;
}


  
main a{
        
    padding: 15px;
    display: block;
    width: 180px;
    background: rgb(235, 164, 0);
    border-radius: 40px;
    text-decoration: none;
    color:#fff;
    text-align: center;
   font-weight: bolder;
   position: relative;
 
}

main h3{
  position: absolute; 
  bottom: 91%;
  left: 70%;
  font-style: oblique;
  background-color: rgb(235, 164, 0);
  color: #fff;
  padding: 3px;
}






 
.divcontainer{
    display: flex;
flex-wrap: wrap;
 justify-content:space-between; 
 align-items: center;

}


.divcontainer div h1{
    color: rgb(235, 164, 0);
    text-align: center;
}
.divcontainer .tek h1{
    color: rgb(24, 23, 23);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    font-size: 30px;
}

ol{
    list-style-type: circle;
}

li::marker{
    color: rgb(24, 20, 12);
}


main >h2{
    text-align: center;
    position: relative;
    bottom: 20px;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: center;
}

.proceed{
position: relative;
/* top: 50px; */
width: 200px;
text-align: center;
margin: auto;
}

.proceed a{
    padding: 11px;
    display: block;
    width: 80%;
    background: rgb(235, 164, 0);
    border-radius: 40px;
    
    text-decoration: none;
    color:#fff;
    margin: auto;
    text-align: center;
    margin: auto;
  }




/* display:flex */

@media (max-width:900px) {
 
    .divcontainer .sale{
    
        box-shadow: 0 9px 68px 0 rgb(62 57 107 / 20%);
      
        position: relative;
        margin: auto;
    
 
    height: auto;
    text-align: center;
    overflow: hidden; 
    border-radius: 10px;
    border:1px solid #f4f9ff;
    padding: 25px;
   margin-bottom: 29px;
    }
    .tek ol li{
     margin-left: 4px;   
    }
    ol li{
        font-size: 19px;
    }
    
    main h3{
        position: absolute; 
        bottom: 94%;
        left: 50%;
        font-style: oblique;
        background-color: rgb(235, 164, 0);
        color: #fff;
        padding: 2px;
        font-size: 13px;
        width: 60%;
      }
     
    
    
    .divcontainer > ::before{
        content: '';
     border-left: 80px solid transparent;
     border-left-width: 80px;
     border-left-style: solid;
     border-left-color: transparent;
     border-bottom: 80px solid rgb(235, 164, 0) ;
     position: absolute;
     right: 0px;
     bottom: 0px;
     
     }


    }




@media (min-width:900px) {
    .divcontainer .sale{
    
        box-shadow: 0 9px 68px 0 rgb(62 57 107 / 20%);
      
        position: relative;
  
    height: auto;
    text-align: center;
    overflow: hidden; 
    border-radius: 10px;
    border:1px solid #f4f9ff;
    }
    ol li{
        font-size: 19px;
    }
    
    main h3{
        position: absolute; 
        bottom: 88%;
        left: 50%;
        font-style: oblique;
        background-color: rgb(235, 164, 0);
        color: #fff;
        padding: 2px;
        font-size: 13px;
        width: 60%;
      }
     
    
    
    .divcontainer > ::before{
        content: '';
     border-left: 80px solid transparent;
     border-left-width: 80px;
     border-left-style: solid;
     border-left-color: transparent;
     border-bottom: 80px solid rgb(235, 164, 0) ;
     position: absolute;
     right: 0px;
     bottom: 0px;
     
     }
     /* .proceed{
        position: relative;
       
        width: 200px;
        text-align: center;
        margin: auto;
        right: 40px;
        } */

}


@media (min-width:1000px) {
    .proceed{
        position: relative;
       
        width: 200px;
        text-align: center;
        margin: auto;
        right: 70px;
        bottom: 50px;
        }
}





/* 

@media (min-width:500px) {
    main{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
        box-shadow: 0 9px 68px 0 rgb(62 57 107 / 20%);
        border-radius: 10px;
        width: 95%;
        margin: auto;
         position: relative;
      top: 3vh;
         
        position: relative;
        overflow: hidden;
    }

    main a{
        
        padding: 15px;
        display: block;
        width:70%;
        background: rgb(235, 164, 0);
        border-radius: 40px;
        text-decoration: none;
        color:#fff;
        text-align: center;
       font-weight: bolder;
       position: relative;
     
    }
    
main h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    position: relative;
    left: 0px;
    text-align: center;
    font-weight: 900;
    color: rgb(235, 164, 0);
} 


.divcontainer div{
    
    box-shadow: 0 9px 68px 0 rgb(62 57 107 / 20%);
  
    position: relative;
    margin: 12px;

width: 95%;
height: auto;
text-align: center;
overflow: hidden; 
border-radius: 10px;
border:1px solid #f4f9ff;
}
ol li{
    font-size: 19px;
}

main h3{
    position: absolute; 
    bottom: 89%;
    left: 50%;
    font-style: oblique;
    background-color: rgb(235, 164, 0);
    color: #fff;
    padding: 2px;
    font-size: 13px;
    width: 60%;
  }
  .divcontainer h1{
      position: relative;
      right: 10%;
  top: 20px;
  }
  
.divcontainer > ::before{
    content: '';
 border-left: 80px solid transparent;
 border-left-width: 80px;
 border-left-style: solid;
 border-left-color: transparent;
 border-bottom: 80px solid rgb(235, 164, 0) ;
 position: absolute;
 right: 0px;
 bottom: 0px;
 
 }

}

@media (min-width:800px) {
    
.divcontainer div{
    
    box-shadow: 0 9px 68px 0 rgb(62 57 107 / 20%);
  
    position: relative;
    margin: 12px;

width: 400px;
height: auto;
text-align: center;
overflow: hidden;
}

.divcontainer .tek{
    width: 550px;
}
.divcontainer > ::before{
    content: '';
 border-left: 80px solid transparent;
 border-left-width: 80px;
 border-left-style: solid;
 border-left-color: transparent;
 border-bottom: 80px solid rgb(235, 164, 0) ;
 position: absolute;
 right: 0px;
 bottom: 0px;
 
 }
 .button{
     display: flex;
     justify-content: space-between;
     float: right;
 }



} */